.squareCornerExtULM{
    background-color: #096B47;
    height: 8em;
    width: 8em;
    rotate: -55deg ;
    border-radius: 35px;
    position: relative;
    left: 4em; bottom: 0.3em;
}

.squareCornerIntULM{
    background-color: #85934F;
    height: 8em;
    width: 8em;
    border-radius: 35px;
    position: relative;
    left: 0.6em; top: 0.6em;
}

.squareCornerExtURM{
    background-color: #096B47;
    height: 8em;
    width: 8em;
    rotate: -55deg ;
    border-radius: 35px;
    position: relative;
    left: 3.1em; bottom: 10.5em;
}

.squareCornerIntURM{
    background-color: #85934F;
    height: 8em;
    width: 8em;
    border-radius: 35px;
    position: relative;
    right: 0.6em; top: 0.6em;
}

.squareCornerExtLLM{
    background-color: #096B47;
    height: 8em;
    width: 8em;
    rotate: -55deg ;
    border-radius: 35px;
    position: relative;
    left: 3.2em; top: 10.3em;
}

.squareCornerIntLLM{
    background-color: #85934F;
    height: 8em;
    width: 8em;
    border-radius: 35px;
    position: relative;
    left: 0.6em; bottom: 0.6em;
}

.squareCornerExtLRM{
    background-color: #096B47;
    height: 8em;
    width: 8em;
    rotate: -55deg ;
    border-radius: 35px;
    position: relative;
    left: 2.4em; top: 0.2em;
}

.squareCornerIntLRM{
    background-color: #85934F;
    height: 8em;
    width: 8em;
    border-radius: 35px;
    position: relative;
    right: 0.6em; bottom: 0.6em;
}





.squareCornerExtULK{
    background-color: #096B47;
    height: 8em;
    width: 8em;
    rotate: -55deg ;
    border-radius: 35px;
    position: relative;
    left: 10em; bottom: 0.3em;
}

.squareCornerIntULK{
    background-color: #85934F;
    height: 8em;
    width: 8em;
    border-radius: 35px;
    position: relative;
    left: 0.6em; top: 0.6em;
}

.squareCornerExtURK{
    background-color: #096B47;
    height: 8em;
    width: 8em;
    rotate: -55deg ;
    border-radius: 35px;
    position: relative;
    left: 9.2em; bottom: 10.6em;
}

.squareCornerIntURK{
    background-color: #85934F;
    height: 8em;
    width: 8em;
    border-radius: 35px;
    position: relative;
    right: 0.6em; top: 0.6em;
}

.squareCornerExtLLK{
    background-color: #096B47;
    height: 8em;
    width: 8em;
    rotate: -55deg ;
    border-radius: 35px;
    position: relative;
    left: 9.7em; top: 10.7em;
}

.squareCornerIntLLK{
    background-color: #85934F;
    height: 8em;
    width: 8em;
    border-radius: 35px;
    position: relative;
    left: 0.6em; bottom: 0.6em;
}

.squareCornerExtLRK{
    background-color: #096B47;
    height: 8em;
    width: 8em;
    rotate: -55deg ;
    border-radius: 35px;
    position: relative;
    left: 9em; top: 0.4em;
}

.squareCornerIntLRK{
    background-color: #85934F;
    height: 8em;
    width: 8em;
    border-radius: 35px;
    position: relative;
    right: 0.6em; bottom: 0.6em;
}





.squareCornerExtULC{
    background-color: #096B47;
    height: 8em;
    width: 8em;
    rotate: -55deg ;
    border-radius: 35px;
    position: relative;
    left: 16.5em; bottom: 0.3em;
}

.squareCornerIntULC{
    background-color: #85934F;
    height: 8em;
    width: 8em;
    border-radius: 35px;
    position: relative;
    left: 0.6em; top: 0.6em;
}

.squareCornerExtURC{
    background-color: #096B47;
    height: 8em;
    width: 8em;
    rotate: -55deg ;
    border-radius: 35px;
    position: relative;
    left: 15.6em; bottom: 10.5em;
}

.squareCornerIntURC{
    background-color: #85934F;
    height: 8em;
    width: 8em;
    border-radius: 35px;
    position: relative;
    right: 0.6em; top: 0.6em;
}

.squareCornerExtLLC{
    background-color: #096B47;
    height: 8em;
    width: 8em;
    rotate: -55deg ;
    border-radius: 35px;
    position: relative;
    left: 16em; top: 10.7em;
}

.squareCornerIntLLC{
    background-color: #85934F;
    height: 8em;
    width: 8em;
    border-radius: 35px;
    position: relative;
    left: 0.6em; bottom: 0.6em;
}

.squareCornerExtLRC{
    background-color: #096B47;
    height: 8em;
    width: 8em;
    rotate: -55deg ;
    border-radius: 35px;
    position: relative;
    left: 15.2em; top: 0.4em;
}

.squareCornerIntLRC{
    background-color: #85934F;
    height: 8em;
    width: 8em;
    border-radius: 35px;
    position: relative;
    right: 0.6em; bottom: 0.6em;
}